
/* PIE DE PAGINA - Footer */
footer {
    text-align: center;
    background: #8c7265;
    color: white;
    padding: 15px;
    font-size: 14px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}



@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.fondo_globaleess {
    background: #E7E3DA;          
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #000000;
}

.container {
  max-width: 60em;
  min-width: 45em;
  margin: 0 auto;
  padding: 0 2em;
}

.nav_inicio {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    top: 0;
    z-index: 3;
}

.nav_inicio ul {
    padding-top: 12px;
    margin: 10px;
    list-style-type: none;
    float: right;
}

.nav_inicio ul li {
  display: inline-block;
  padding: 0.5em;
  text-align: center;
  transition: all 0.2s;
}

.nav_inicio ul li:last-child {
  padding-right: 0;

}

.nav_inicio ul li a {
  color: #FFF;
  text-decoration: none;
  transition: all 0.3s;
}

.nav_inicio ul li a:hover {
  color: #000000;
  background-color: rgb(221, 190, 155);
  padding: 5px;
}

.container .frase_inicio{
    text-align: center;            
}

#icon {
  display: inline-block;
  padding-top: 0.7em;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}
.logo img {
    height: 70px;
    margin-top: -18px
    ;
}

#nav-bg {
  background: #645047;
  position: fixed;
  height: 5em;
  width: 100%;
  top: 0;
  z-index: 1;
}

header {
  position: relative;
  background: url("../img/iniciofoto.jpg");
  background-position: center;
  background-size: cover;
  padding: 10em 0 8em;
  z-index: 2;
}

header h1 {
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
}

#about {
  background: #E7E3DA;
  height: auto;
  padding: 5em 0;
}

#about p {
  line-height: 2em;
  font-size: 1.4em;
  margin: 0;
  color: #222;
}
.explicacionQueVasAEncontrar {
    text-align: center;
    margin-top: -53px;
}
.explicacionQueVasAEncontrar h2{
    color: black;
    margin-top: 10px;
}











*, *:before, *:after {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:0;
    margin:0;
}

body{
    background: #f0e9e6;
    line-height: 1.5;
    font-size: 16px;
}






/* CSS DE FUNCIONES */




#management-section {
    padding: 50px 20px;
    text-align: center;
    background: linear-gradient(to bottom, #5f534e, #caa061); /* Fondo en degradado */
}

#management-section h2 {
    color: #fff;
    margin-bottom: 40px;
    font-size: 2rem;
}

#management-section .options {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

#management-section .card {
    background: white;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#management-section .card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.3);
}

#management-section .card i {
    color: #8f9bb3;
    margin-bottom: 20px;
    font-size: 3rem;
}

#management-section .card h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

#management-section .card p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 15px;
}

#management-section .card a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    background: #8f9bb3;
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: bold;
}

#management-section .card a:hover {
    background: #d39b48;
    transform: scale(1.05);
}

/* Diseño Responsivo */
@media (max-width: 768px) {
    #management-section .options {
        flex-direction: column;
    }

    #management-section .card {
        width: 90%;
        margin-bottom: 20px;
    }
}